<mat-toolbar>
  <div class="filters-toolbar">
    <section>
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="filterValue"
          (ngModelChange)="onInputChange()"
        />
        <button
          *ngIf="filterValue"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="resetFilterValue()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </section>
    <section>
      <app-icon-button
        (click)="addNewEmitter.emit()"
        [color]="'primary'"
        [ariaLabel]="'Add Address'"
        [icon]="'add'"
        [textLabel]="'Add New'"
      >
        Add New
      </app-icon-button>
      <app-icon-button
        (click)="sortByFirstEmitter.emit()"
        [color]="'basic'"
        [ariaLabel]="'Filter by First Name'"
        [icon]="'sort'"
        [textLabel]="'Sort by First Name'"
      >
        Sort by First Name
      </app-icon-button>
      <app-icon-button
        (click)="sortByLastEmitter.emit()"
        [color]="'basic'"
        [ariaLabel]="'Filter by Last Name'"
        [icon]="'sort'"
        [textLabel]="'Sort by Last Name'"
      >
        Sort by Last Name
      </app-icon-button>
      <app-icon-button
        (click)="downloadCSVEmitter.emit()"
        [color]="'basic'"
        [ariaLabel]="'Download CSV'"
        [icon]="'download'"
        [textLabel]="'Download CSV'"
      >
        Download CSV
      </app-icon-button>
    </section>
  </div>
</mat-toolbar>
