<mat-toolbar color="primary">
  <h2 mat-dialog-title>Add New Address</h2>
</mat-toolbar>
<mat-dialog-content>
  <form class="new-address-form">
    <div>
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input
          (input)="onInput()"
          type="text"
          matInput
          value=""
          required
          [formControl]="firstName"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input
          (input)="onInput()"
          type="text"
          matInput
          value=""
          required
          [formControl]="lastName"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone number</mat-label>
        <input
          (input)="onInput()"
          type="telephone"
          matInput
          value=""
          [formControl]="telephoneNumber"
        />
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="accent" (click)="dialogRef.close()">
        Cancel
      </button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="addBtnDisabled"
        (click)="addNewAddressItem()"
      >
        Add
      </button>
    </div>
  </form>
</mat-dialog-content>
