<mat-card>
  <mat-card-header>
    <mat-card-title
      >{{ addressItem.first_name }} {{ addressItem.last_name }}</mat-card-title
    >
    <mat-card-subtitle>Phone: {{ addressItem.phone_number }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <app-icon-button
      [color]="'primary'"
      [ariaLabel]="'Edit Address'"
      [icon]="'edit'"
    >
      Edit
    </app-icon-button>
    <app-icon-button
      (click)="onAddressDelete.emit(addressItem.ref)"
      [color]="'accent'"
      [ariaLabel]="'Delete Address'"
      [icon]="'delete'"
    >
      Edit
    </app-icon-button>
  </mat-card-actions>
</mat-card>
