<mat-card>
  <mat-card-header>
    <mat-card-title>{{ addressItem.full_name }}</mat-card-title>
    <mat-card-subtitle>{{ addressItem.phone_number }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <app-icon-button
      [color]="'primary'"
      [ariaLabel]="'Edit Address'"
      [icon]="'home'"
    >
      Edit
    </app-icon-button>
    <app-icon-button
      [color]="'accent'"
      [ariaLabel]="'Delete Address'"
      [icon]="'home'"
    >
      Edit
    </app-icon-button>
  </mat-card-actions>
</mat-card>
