mat-card {
  display: block;
  background-color: #212121;
  color: #fff;
  width: 300px;

  mat-card-actions {
    display: flex;
    justify-content: flex-end;

    app-icon-button:first-child {
      margin-right: 10px;
    }
  }
}
