:host {
  display: block;
  padding: 2rem;
}

.address-book-flex {
  display: flex;
  flex-flow: row wrap;
}

.no-entries {
  margin-top: 3rem;
  width: 100%;
  color: grey;
  font-size: 2rem;
  text-align: center;
}
