<app-filter-toolbar
  (inputChangeEmitter)="filterAddresses($event)"
  (addNewEmitter)="openAddNewDialog()"
  (downloadCSVEmitter)="downloadCSVFile()"
  (resetFilterEmitter)="resetFilter()"
  (sortByFirstEmitter)="sortByFirst()"
  (sortByLastEmitter)="sortByLast()"
></app-filter-toolbar>
<div class="address-book-flex">
  <ng-container *ngIf="filteredItems.length > 0; else noEntries">
    <app-address-card
      *ngFor="let address of filteredItems"
      (AddressDeleteEvt)="deleteAddressItem($event)"
      [addressItem]="address"
    >
    </app-address-card>
  </ng-container>
  <ng-template #noEntries>
    <h2 class="no-entries">Add an address to begin.</h2>
  </ng-template>
  <app-loading-overlay *ngIf="!!isLoading"></app-loading-overlay>
</div>
